*.SchDoc.Zip
*.SchDocPreview
*.PrjPcb.Zip
*.PcbLib.Zip
Work/VOIPAC/BASE BOARD/V1I1/History/iMX53_BB_PCB_V1I1.~(1).PcbDoc.Zip
Work/VOIPAC/BASE BOARD/V1I2/__Previews/
Work/VOIPAC/BASE BOARD/V1I2/Project Logs for iMX53_BB_V1I2/[11] - POWERS SCH ECO 9-6-2016 4-04-10 PM.LOG
Work/VOIPAC/BASE BOARD/V1I2/Project Logs for iMX53_BB_V1I2/
